In [1]:
import numpy as np
import pandas as pd

In [72]:
df = pd.read_csv('data/share-with-mental-or-substance-disorders-by-sex.csv')

In [ ]:
df[df['Country'].str.contains('WHO')]['Country'].unique()

In [3]:
df

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,17.448695,17.634233,12412311.0,NaN
2,Afghanistan,AFG,1991,17.771263,17.873184,13299016.0,NaN
3,Afghanistan,AFG,1992,18.051575,18.092318,14485543.0,NaN
4,Afghanistan,AFG,1993,18.275848,18.265196,15816601.0,NaN
...,...,...,...,...,...,...,...
56624,Zimbabwe,ZWE,2018,NaN,NaN,14438812.0,NaN
56625,Zimbabwe,ZWE,2019,NaN,NaN,14645473.0,NaN
56626,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
56627,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56628,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [71]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from geopandas) (2.0.0)
Requirement already satisfied: fiona>=1.8 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from geopandas) (1.8.22)
Requirement already satisfied: pandas>=0.25.0 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from geopandas) (3.2.1)
Requirement already satisfied: munch in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in c:\users\celia\appdata\roaming\python\python37\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: attrs>=17 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from fiona>=1.8->geopandas) (22.2.0)
Requirement already satisfied: setuptools in c:\users\celia\appdata\roaming\python\python37\site-packages (from fiona>=1.8->geopandas) (65.5.1)
Requirement already satisfied: click>=4.0 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: click-plugins>=1.0 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: certifi in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: cligj>=0.5 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.25.0->geopandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\celia\appdata\roaming\python\python37\site-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: colorama in c:\users\celia\appdata\roaming\python\python37\site-packages (from click>=4.0->fiona>=1.8->geopandas) (0.4.6)
Requirement already satisfied: importlib-metadata in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from click>=4.0->fiona>=1.8->geopandas) (5.1.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->click>=4.0->fiona>=1.8->geopandas) (4.4.0)
Requirement already satisfied: zipp>=0.5 in c:\users\celia\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->click>=4.0->fiona>=1.8->geopandas) (3.11.0)

In [73]:
df.rename(columns={'Entity': 'Country',
                 'Population (historical estimates)': 'Population',
                 df.columns[3] : 'Male',
                 df.columns[4] : 'Female'}, inplace=True)
df.drop(columns='Code', inplace=True)
#transformando variables!

In [76]:
df[df['Country'].str.contains('Bank')]['Country'].unique()

array([], dtype=object)

In [74]:
df

             Country  Year       Male     Female  Population Continent
0           Abkhazia  2015        NaN        NaN         NaN      Asia
1        Afghanistan  1990  17.448695  17.634233  12412311.0       NaN
2        Afghanistan  1991  17.771263  17.873184  13299016.0       NaN
3        Afghanistan  1992  18.051575  18.092318  14485543.0       NaN
4        Afghanistan  1993  18.275848  18.265196  15816601.0       NaN
...              ...   ...        ...        ...         ...       ...
56624       Zimbabwe  2018        NaN        NaN  14438812.0       NaN
56625       Zimbabwe  2019        NaN        NaN  14645473.0       NaN
56626       Zimbabwe  2020        NaN        NaN  14862927.0       NaN
56627       Zimbabwe  2021        NaN        NaN  15092171.0       NaN
56628  Åland Islands  2015        NaN        NaN         NaN    Europe

[56629 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56629 entries, 0 to 56628
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     56629 non-null  object
 1   Year        56629 non-null  int64
 2   Male        6468 non-null   float64
 3   Female      6468 non-null   float64
 4   Population  55656 non-null  float64
 5   Continent   285 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 2.6+ MB

In [7]:
df = df[(df['Male'].notnull())&(df['Female'].notnull())]
df = df.drop(columns='Continent')
df = df.drop(columns='Population')

In [9]:
df.groupby('Country').describe()['Male']['mean'].sort_values(ascending=False)

Country
Afghanistan              17.643155
Australia                17.593025
Australasia              17.540276
New Zealand              17.288737
Iran                     17.222000
                           ...
Central Latin America    10.425471
Azerbaijan               10.407740
Colombia                 10.383464
Mexico                   10.172944
Vietnam                   9.074424
Name: mean, Length: 231, dtype: float64

In [10]:
df.groupby('Country').describe()['Female']['mean'].sort_values(ascending=False)

Country
New Zealand         20.211706
Australasia         19.371885
Australia           19.201666
Greenland           19.150040
Northern Ireland    19.030941
                      ...
Turkmenistan        10.711163
Zimbabwe            10.652610
Armenia             10.615188
Azerbaijan          10.453173
Colombia             9.897339
Name: mean, Length: 231, dtype: float64

In [46]:
df[df['Country'].str.contains('WHO')]['Country'].unique()
dfcont = df[df['Country'].str.contains('WHO')].copy()
dfcont.rename(columns={'Country': 'Continent'}, inplace=True)

df[df['Country'].str.contains('Bank')]['Country'].unique()
dfincome = df[df['Country'].str.contains('Bank')].copy()
dfincome.rename(columns={'Country': 'Income'}, inplace=True)


df = df[~df.Country.str.contains("WHO")]
df = df[~df.Country.str.contains("Bank")]

In [ ]:
#juntar los df respectivos de continente y lo mismo con income (prev general, por generos, por disorder...)

#graficas!:
# 1-lineal para paso del tiempo
# 2-mapa para prevalencia en paises 
# 3-mapa para continentes: disorder más común (bars)
# 3- scatter para continente+genero (+españa?)
# 4- scatter continente+income (+españa?)
# 5- heatmap correlacion disorders

In [47]:
class DataInfo:
    def __init__(self,df):
        self.df = df

    def info(self): 
        
        # Numero de filas
        print(f'\nFilas totales : {self.df.shape[0]} \n')
      
        # Numero de columnas
        print(f'\nColumnas totales : {self.df.shape[1]} \n')
        
        # Nombres de las columnas
        column_name =  self.df.columns 
        print(f'\nNombres de las columnas\n'+  f'\n{column_name} \n \n')
        
        # Tipo de datos (info)
        print(f'Info de los datos\n')
        data_summary = self.df.info() 
        
        # Valores nulos 
        null_values = self.df.isnull().sum() 
        print(f'\nValores nulos\n' +  f'\n{null_values} \n \n')

        # Estadística descriptiva
        describe =  self.df.describe() 
        print(f'\nEstadística descriptiva\n' + f'\n{describe} \n \n')
    
    def clean(self):
        # Cambiamos el nombre de la columna
        self.df.rename(columns={'Entity': 'Country'}, inplace=True)
        # Eliminamos una columna
        self.df.drop(columns='Code', inplace=True)
    
    def dfcont(self,newdf):
        self.newdf = newdf
        self.newdf = self.df[self.df['Country'].str.contains('WHO')].copy()
        self.newdf.rename(columns={'Country': 'Continent'}, inplace=True)